.title {
    text-align: center;
    font-size: 3rem;
    color: rgb(247, 232, 245);
    text-shadow: 0 0 10px rgb(228, 207, 207), 0 0 020px rgb(228, 212, 212),
                0 0 30px #e60073, 0 0 40px #e60073,
                0 0 50px #e60073, 0 0 60px #e60073, 0 0 70px #e60073;
}

@media (max-width:500px) {
    .title {
        font-size: 2.5rem;
    }
}